<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSDebugConfig</key>
	<dict>
		<key>UseDebugConfig</key>
		<true/>
		<key>ads_config</key>
		<dict>
			<key>interstitial</key>
			<dict>
				<key>use</key>
				<true/>
				<key>affs</key>
				<array>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>a200ae9a762a4bda95796fa858d13ec0</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>ISL-ADCOLONY</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>fc19ccbc10954e1e911a9c40c8d2b9bd</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>ISL-ADMOB</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>b198addb49ce44a9aca8269acba2db56</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>ISL-APPLOVIN</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>d41845f3d0f1446396bfa7563e8c831d</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>ISL-CHARTBOOST</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>84ceb7b101254b5ab50386e0f0d21858</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>ISL-FB</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>b1bb5f53bd6c4af98cdf5cc7e8e5069c</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>ISL-FYBER</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>1e660a823fa04356a0c581e168dd9976</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>ISL-IRONSOURCE</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>31ea5ceeca0d419dab4db5bed7f09b1a</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>ISL-MPX</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>63c49ae9ba404ab3aefc86ab4f25e7bc</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>ISL-PANGLE</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>13d4c59160414489a0735b72fca8e92b</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>ISL-UNITY</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>0c728449e7364a61a7af121c1eb3ba45</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>ISL-VUNGLE</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>admob</string>
						<key>aff_key</key>
						<string>ca-app-pub-2687326720221638/3750694437</string>
						<key>use</key>
						<true/>
						<key>describe</key>
						<string>ISL-ADMOB</string>
					</dict>
				</array>
			</dict>
			<key>banner</key>
			<dict>
				<key>use</key>
				<true/>
				<key>affs</key>
				<array>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>5ef2ae38a4104ccdaecf8fb34c41bebf</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>BNR-ALL</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>admob</string>
						<key>aff_key</key>
						<string>ca-app-pub-2687326720221638/6966521618</string>
						<key>use</key>
						<true/>
						<key>describe</key>
						<string>BNR-ALL</string>
					</dict>
				</array>
			</dict>
			<key>rewarded_video</key>
			<dict>
				<key>use</key>
				<true/>
				<key>affs</key>
				<array>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>1b5b53ed972541348177fcbe1e94d8db</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-ADCOLONY</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>2a792f4b1a4348aaaff0b801e81081b9</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-ADMOB</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>f66f21269dba432eb34a97c2ba99f274</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-APPLOVIN</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>03dfd27ab99e41bcbce1e6a5119374ea</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-CHARTBOOST</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>47e73d451fb3497cb29cff525a255bc7</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-FB</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>ee43a52c70a946289a1c390081171668</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-FYBER</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>885939f88c5e49f088e7f5444aebbd16</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-IRONSOURCE</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>8f0f240c63e244939d337e82c56d41db</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-MPX</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>9e11824d3afb43fe8a0311141de95762</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-PANGLE</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>70ef21cf909f468e87d391a7302b078e</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-UNITY</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>6cf05bbb70764969b6bc31621a6b404c</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-VUNGLE</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>mopub</string>
						<key>aff_key</key>
						<string>485695f657004fcabba67657ebe54161</string>
						<key>use</key>
						<false/>
						<key>describe</key>
						<string>RWD-INMOBI</string>
					</dict>
					<dict>
						<key>aff_name</key>
						<string>admob</string>
						<key>aff_key</key>
						<string>ca-app-pub-2687326720221638/6113327415</string>
						<key>use</key>
						<true/>
						<key>describe</key>
						<string>RWD-ADMOB</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
